<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="shorcut icon" type="image/x-icon" href="./images/fevion.svg">
    <script src="https://kit.fontawesome.com/22406f9d4d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div id = "outerSection">
        <p class="text-center" id = "heading"><i class="far fa-clipboard-list-check"></i> To Do App</p>


        <form action="/add-Task" method="POST">
            <div id="Field1">
                <label for="inputField1">Task Name <i class="fas fa-level-down-alt" style="position: relative; top: 5px;"></i></label><br>
                <input maxlength="20" type="text" name="Task_Name" id="inputField1" placeholder="Tell me, what's the task? " required>
            </div>
            <div id="Field2">
                <label for="inputField2">Description <i class="fas fa-level-down-alt" style="position: relative; top: 5px;"></i></label><br>
                <input type="text" maxlength="80" name="Task_Description" id="inputField2" placeholder="Anything to remember about task, Tell me..." required>
            </div>
            <div id="Field3">
                <div id="part1">
                    <label for="inputField3">Due-Date <i class="fas fa-level-down-alt" style="position: relative; top: 5px;"></i></label><br>
                    <input type="date" placeholder="Select Date" id="inputField3" required name="deadline">
                </div>
                <div id = "part2">
                    <label for="inputField4">Category <i class="fas fa-level-down-alt" style="position: relative; top: 5px;"></i></label><br>
                    <select id="inputField4" required name="category" >
                        <option>Select Category</option>
                        <option>Personal</option>
                        <option>Work</option>
                        <option>Home</option>
                    </select>
                </div>
            </div>
            <div id = "Field3" class="widthDefination">
                <button type="submit" id="btn1">
                    <i class="fas fa-plus-circle"></i> Create Task
                </button>

                <div id="socialMedia">
                    <a class="socialMediaIcons" href="https://www.linkedin.com/in/puru-bhargava-6330031b7/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="socialMediaIcons" href="https://www.instagram.com/puru_bhargava_/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="socialMediaIcons" href="https://github.com/Puru7071" target="_blank"><i class="fab fa-github-square"></i></a>
                    <a class="socialMediaIcons" href="https://www.snapchat.com/add/pbh21758" target="_blank"><i class="fab fa-snapchat-square"></i></a>
                </div>
            </div>
            
        </form>
        <div class="deadLineBar">
            <img src="./images/alert-triangle.svg">
            <% if(closestTask != null){%>
                <p id="closestTaskHeading">
                    Tighten Your Shoelace Deadline is on way : <%= closestTask%>
               </p>
            <%}else{%>
                <p id="closestTaskHeading">
                    Bingo! So Far no Deadlines
               </p>
            <%}%>
            <img src="./images/calendar.svg" id="calenderImage">
            <%if(closestTask !=null){%>
                <p id="deadlineDate">
                    <%= closestDate%>
                </p>
            <%}else{%>
                <p id="deadlineDate">
                    No Deadlines
                </p>
            <%}%>
        </div>
        
        <p class="toDoTaskHeading"><i class="fas fa-bell-on"></i> Tasks To Do:</p>
        <h3 style="margin-left: 20px; margin-top: -10px; font-family: monospace; font-weight: 900;">Pending Tasks: <%= number%></h3>
        <% for(let i of tasksToDo){%>
            <div class="taskCard">
                <div class="innerCard1">
                    <p class="taskName">
                        <%= i.Name%> 
                    </p>
                    <p class="date"><i class="far fa-calendar-alt"></i> <%= i.deadline%></p>
                </div>

                <div class="dropDown" data-isExpanded="false">
                    <p class="contract">Expand</p> <img src="./images/dropdown.svg" class="arrow">
                </div>

                <div class="dropDownContainer">
                    <p class="minutesHeading">
                        <img src="./images/edit.svg">
                        <span class="head1">Minute of the Task:</span>
                    </p>
                    <p>
                        <%= i.Description%>
                    </p>
                </div>
    
                
               <%if(i.category == "Personal"){%>
                    <div class="catMentioner text-center" style="background-color: #f15bb5;">
                        <%= i.category%>
                    </div>
                <%}%>
                <%if(i.category == "Home"){%>
                    <div class="catMentioner text-center" style="background-color: #8338ec;">
                        <%= i.category%>
                    </div>
                <%}%>
                <%if(i.category == "Work"){%>
                    <div class="catMentioner text-center" style="background-color: #3a86ff;">
                        <%= i.category%>
                    </div>
                <%}%>
                
                <div class="deleteBtn">
                    <a href = "/delete-task/<%= i._id%>"><i class="fas fa-trash-alt fa-2x" ></i></a>
                </div>
            </div>

        <% } %>

        <script type="text/javascript" src="./js/script.js"></script>
    </div>
</body>
</html>